@*
*@
@{
}

<h1>Get to know Joel</h1>
<ul>
    <li><a href="https://www.qwcomedy.com/">Quick Wits Comedy</a></li>
    <li><a href="https://baconsale.com/">Baconsale</a></li>
    <li><a href="https://baconsale.com/"><img src="~/img/bacon_salepicture.jpg" alt="Group picture" /></a></li>
</ul>
